@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


body{
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: url("../../Assets/About Me Pic.jpg");
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.2);
}

.circle{
    width: 200px;
    height: 200px;
    background: url("/Assets/About Me Pic.jpg")
}